<div class="register-container">
    <h2>Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <label>Email Address</label>
      <input type="email" formControlName="email" />
  
      <label>Name</label>
      <input type="text" formControlName="name" />
  
      <label>Username</label>
      <input type="text" formControlName="username" />
  
      <label>Password</label>
      <input type="password" formControlName="password" />
  
      <label>Confirm Password</label>
      <input type="password" formControlName="confirmPassword" />
      <div *ngIf="registerForm.hasError('mismatch')">
        <small>Passwords do not match</small>
      </div>
  
      <button type="submit" [disabled]="registerForm.invalid">Register</button>
    </form>
    <p>Already have an account? <a routerLink="/login">Login</a></p>
  </div>
